<!DOCTYPE html>
<html lang="en">
<head>
  <title>Valley Sports</title>
  <meta charset="utf-8">
  <meta name="description" content="ValleySports LLC NJ Largest Online Wholesale Sporting Goods">
  <meta name="keywords" content="ValleySports LLC NJ Largest Online Wholesale Sporting Goods">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar fixed-top bg-dark navbar-dark navbar-expand-sm navbar-toggleable-md py-md-3">
  <!-- Brand -->
  <a class="navbar-brand" href="/">
  	<img src="images/logo.png"  width="200" height="30" />
  </a>
  
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown"
    aria-controls="dropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="dropdown">
	    <!-- Dropdown -->
	    <ul class="navbar-nav ml-auto">
	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	        Products
	      </a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item" href="/huntingparka">Hunting Parka</a>
	        <a class="dropdown-item" href="/boardshort">Beach Shorts</a>
	        <a class="dropdown-item" href="/swimshort">Swim Shorts</a>
	      </div>
	    </li>
	      
	     <li class="nav-item">
	      <a class="nav-link" href="#">Company</a>
	     </li>
	    
	      <li class="nav-item">
	      <a class="nav-link" href="#">Partnership</a>
	      </li>
	  </ul>
  </div>
</nav>
<br>
  
<div class="container">
  <h3>Navbar With Dropdown</h3>

  <div id="slider" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
<div class="carousel-inner">
   <div class="carousel-item active">
      <img src="/images/hunting-parka/front-handup.png" alt="Front Image" width="1100" height="500">
        <div class="carousel-caption text-dark">
    		<h5> Design for Tough Job</h5>
    		<p> Waterproof, windproof, scent control and sound control</p>
  		</div>
   </div>
    
	<div class="carousel-item">
      <img src="/images/hunting-parka/front-straight.png" alt="Frong Image" width="1100" height="500">
        <div class="carousel-caption text-dark"></div>
   　</div>
  
	<div class="carousel-item">
	    <img src="/images/hunting-parka/keyring.png" alt="Keyring Hook" width="1100" height="500">
	    <div class="carousel-caption text-dark" >
	    	<!--  
	    	<h5> HIgh end quality</h5>
	    	<p> Waterproof, windproof asdfkja;sdfkj;kasdf

	    	</p>-->
	    </div>
   </div>
   
   <div class="carousel-item">
    <img src="/images/hunting-parka/side-front.png" alt="Front Side View" width="1100" height="500">
    <div class="carousel-caption text-dark" >
    	<!--  
    	<h5> HIgh end quality</h5>
    	<p> Waterproof, windproof asdfkja;sdfkj;kasdf
 
    	</p>-->
    </div>
   </div>
   
   <div class="carousel-item">
    <img src="/images/hunting-parka/waterroof-zipper-small.png" alt="Waterproof Zipper" width="1100" height="500">
    <div class="carousel-caption text-dark" >
    	<!--  
    	<h5> HIgh end quality</h5>
    	<p> Waterproof, windproof asdfkja;sdfkj;kasdf

    	</p>-->
    </div>
   </div>
   
   <div class="carousel-item">
	    <img src="/images/hunting-parka/tool-pocket.png" alt="Tool Pocket" width="1100" height="500">
	    <div class="carousel-caption text-dark" >
	    	<!--  
	    	<h5> HIgh end quality</h5>
	    	<p> Waterproof, windproof asdfkja;sdfkj;kasdf
	    	</p>-->
	    </div>		
    </div>
    
    <div class="carousel-item">
	    <img src="/images/hunting-parka/back.png" alt="Back View" width="1100" height="500">
	    <div class="carousel-caption text-dark" >
	    	<!--  
	    	<h5> HIgh end quality</h5>
	    	<p> Waterproof, windproof asdfkja;sdfkj;kasdf
	    	</p>-->
	    </div>
    </div>
    
    <div class="carousel-item">
	     <img src="/images/hunting-parka/cloth.JPG" alt="Breathable Fabric" width="1100" height="500">
	     <div class="carousel-caption text-dark" >
	    	<!--  
	    	<h5> HIgh end quality</h5>
	    	<p> Waterproof, windproof asdfkja;sdfkj;kasdf
	    	asfdasdf;lkjasdf
	    	asdfja;aklsdfasdf
	    	asdfkaj;lkasdf
	    	asdfj;klasdfasdf
	    	</p>-->
	     </div>
    </div>
    
    <div class="carousel-item">
   		<img src="/images/hunting-parka/zipper-ring-large.png" alt="talon zipper" width="1100" height="500">
   		<div class="carousel-caption text-dark" >
	    	<!--  
	    	<h5> HIgh end quality</h5>
	    	<p> Waterproof, windproof asdfkja;sdfkj;kasdf
	    	</p>-->
    	</div>
   </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slider" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slider" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>

</div> <!-- End of carousel inner -->
    
  <b> Product Description </b>
  <p>ExtremeHunter is a brand under Valley Sports, which specializes in designing and manufacturing high quality sporting goods including tactical hunting parka. We target to provide highly breathable fabrics to offer more comfort to release the excessive body heat and moisture.</p>
  <p>
  Two extra pockets in axilla allows people to control the size of the pocket to release heat yet retain certain level to keep warm.
  The parka will be suitable for heavy duty outdoor activity and field work from late fall to early spring in cold weather.
  The large tool pocket gives more room for extra storage or a foam pad to support our body to lean on trees.
  The keyring design will help us keep our car key or remote in a safer place to prevent loosing car key in a remote area.
  Windproof, waterproof and sound control makes your every movement quiet.
  Anti-scratching fabric offers highly breathable membrane to breath better than other products. 
  Talon Waterproof zipper gives you a better choice for tougher environment.
  The fabric is tested falling in the range of 11,000-15,000 mm waterproof rating.
  </p>

	<section>
	  <b>Key Features</b>
	    <ul>
	  	<li>Highly breathable waterproof windproof fabric with sound controlled</li>
	  	<li>Waterproof Tailong zipper and military grade durability</li>
	  	<li>Large tool pocket for extra storage and foam pad</li>
	  	<li>Keyring hook for car key and remote</li>
	  	<li>Windproof sleeve</li>
	  	</ul>

  	</section>
  
</div> <!-- End of container  -->

<footer class= "footer bg-dark">
    <div class="container">
       <div class="row text-white text-center"> 
                <div class="col-lg-4 col-md-4 col-sm-4" >
                    <span>Company</span>   
                    <ul class="contact">
                          <li>
                            <a href="http://valleysports.us">Home</a>
                          </li>
                          <li>
                             <a href="#">Partnership</a>
                          </li>
                          <li>
                             <a href="#">About</a>
                          </li>
                          <li>
                            <a href="#">Contact</a>
                         </li>
                    </ul>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 ">
                	<span>Links</span>    
                    <ul class="contact">
                         <li class="text-white">
                            <a href="https://www.amazon.com/Valley-Sports-Breathable-Waterproof-Watertight/dp/B077BNJN1R">Amazon Store</a>
                          </li>
                          <li>
                             <a href="https://www.ebay.com/itm/Valley-Sports-Hunting-Jacket-Winter-Jacket-Windproof-Waterproof-with-Tool-Pocket/323474608512?hash=item4b5096d180:m:mpT0jTqdc5VktuiRfZash2A:rk:1:pf:0">Ebay Store</a>
                          </li>
                          <li>
                            <a href="#">Jet.com</a>
                          </li>
                          <li>
                             <a href="#">Patent</a>
                          </li>
                    </ul>
                </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                   <span>Contact</span> 
                    <ul class="contact">
                       <li>
                            <p></p>
                          </li>
                         <li>
                            <p >Phone: 217-372-8660</p>
                          </li>
                          <li>
                            <p>xlics05 at gmail.com</p>
                          </li>
                     </ul>
                </div>
                <div class="copyright col-lg-12 col-md-12 col-sm-12 text-left">
                &copy; Valley Sports LLC
                </div>
       </div>  <!-- End of Row -->
    </div> 
</footer>
</body>
</html>