<!DOCTYPE html>
<html lang="en">
<head>
  <title>Valley Sports</title>
  <meta charset="utf-8">
  <meta name="description" content="ValleySports LLC NJ Largest Online Wholesale Sporting Goods">
  <meta name="keywords" content="ValleySports LLC NJ Largest Online Wholesale Sporting Goods">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css"> 
</head>

<body>
<nav class="navbar fixed-top bg-dark navbar-dark navbar-expand-sm navbar-toggleable-md py-md-3">
  <!-- Brand -->
  <a class="navbar-brand" href="/">
  	<img src="images/logo.png"  width="200" height="30" />
  </a>
  
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown"
    aria-controls="dropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="dropdown">
	    <!-- Dropdown -->
	    <ul class="navbar-nav ml-auto">
	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	        Products
	      </a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item" href="/huntingparka">Hunting Parka</a>
	        <a class="dropdown-item" href="/boardshort">Beach Shorts</a>
	        <a class="dropdown-item" href="/swimshort">Swim Shorts</a>
	      </div>
	    </li>
	      
	     <li class="nav-item">
	      <a class="nav-link" href="#">Company</a>
	     </li>
	    
	      <li class="nav-item">
	      <a class="nav-link" href="#">Partnership</a>
	      </li>
	  </ul>
  </div>
</nav>
<br>
  
<div class="container">
  <div class= "containerWraper">
  	<div id="slider" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ul class="carousel-indicators">
	    <li data-target="#demo" data-slide-to="0" class="active"></li>
	    <li data-target="#demo" data-slide-to="1"></li>
	    <li data-target="#demo" data-slide-to="2"></li>
	  </ul>
  
  	   <!-- The slideshow -->
	   <div class="carousel-inner">
	   <div class="carousel-item active">
	   	<div class="d-flex align-items-center justify-content-center min-vh-100">
	      <img src="images/hunting-parka/parka_wide1.png" alt="front-handup" width="1000" height="500">
	         <div class="carousel-caption d-none d-md-block">
	   		 <h5>...</h5>
	    		<p>...</p>
	 		 </div>
	 	</div>
	   </div>
	    
	   <div class="carousel-item">
	         	<div class="d-flex align-items-center justify-content-center min-vh-100">
	      <img src="images/hunting-parka/parka_wide2.png" alt="front-straight" width="1000" height="500">
	         <div class="carousel-caption d-none d-md-block">
	   		 <h5>...</h5>
	    		<p>...</p>
	 		 </div>
	 		 </div>
	 		 
	   </div>
	  
	   <div class="carousel-item">
		       	<div class="d-flex align-items-center justify-content-center min-vh-100">
		    <img src="images/hunting-parka/keyring-small.png" alt="Keyring Hook" width="1000" height="500">
		     <div class="carousel-caption d-none d-md-block">
	   		 <h5>...</h5>
	    		<p>...</p>
	 		 </div>
	 		 </div>
	   </div>
	   
     <!-- Left and right controls -->
	  <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	    <span class="sr-only">Next</span>
	  </a>
	  </div>

  	</div> <!-- End of demo -->
  </div>
</div>


<div id="products" class="container">
	<div class="containerWrapper">
	<div class = "text-center vsText"> Our Products    Free shipping Over $500 Order Within NJ</div>
	  <div class="row">
	    <div class="col-sm">
	      <a href="/huntingparka"><img src="images/hunting-parka/front-handup-mid.png" class="img-thumbnail" alt="ExtremeHunter Hunting Parka"> </a>
	    </div>
	    <div class="col-sm">
	     <a href="/boardshort"><img src="images/boardshort/black/black_3d_front.png" class="img-thumbnail" alt="board short"></a>
	     </div>
	    <div class="col-sm">
	     <a href="/swimshort"><img src="images/swimshorts/deepblue/deepblue_2d.png" class="img-thumbnail" alt="swim short"></a>
	    </div>
	  </div>
	  </div>
</div>

<div id="program" class="container">
	<div class="containerWrapper">
	<div class = "text-center vsText"> North NJ Largest Wholesaler</div>
	  <div class="row">
	    <div class="col-sm">
	      MSRP $120  -- Early bird partnership for $66 for an order of 100 items or more.
	    </div>
	    <div class="col-sm">
	      Board short -- Whole sale price $8 for an order of 100 items or more.
	    </div>
	    <div class="col-sm">
	      Swim short -- Whole sale price $6 for an order of 100 items or more.
	        <div class="row">
		     	  <div class="col-sm">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="Aqua" />
				 	</svg>
				  </div>
				  <div class="col-sm">
				 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="Crimson" />
				 	</svg>
				  </div>
				  <div class="col-sm">
					<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="Aquamarine" />
				 	</svg>
				  </div>
				  
				 <div class="w-100"></div>
				  <div class="col-sm">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="DarkRed" />
				 	</svg>
				  </div>
				  <div class="col-sm">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="MediumBlue" />
				 	</svg>
				  </div>
				  <div class="col-sm">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="RoyalBlue" />
				 	</svg>
				  </div>
				  <div class="w-100"></div>
				  <div class="col-sm">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="Orange" />
				 	</svg>
				  </div>
				  
				  <div class="col-sm">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="SkyBlue" />
				 	</svg>
				  </div>
				  
				  <div class="col-sm">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="Navy" />
				 	</svg>
				  </div>
			 <!--https://www.w3schools.com/colors/colors_names.asp--->
			</div>
	    </div>
	  </div>
	  </div>
</div>

<div id="partnership" class="container">
	<div class = "containerWrapper">
	<div class = "text-center vsText"> Our fulfillment Partners</div>
	  <div class="row">
	    <div class="col-sm">
	    	<img src="images/partners/amazon.svg" width="200" height="50" alt="Amazon FBA">
	    </div>
	    <div class="col-sm">
	    	<img src="images/partners/ebay.svg" width="200" height="50" alt="Ebay">
	    </div>
	    <div class="col-sm">
	    	<img src="images/partners/jet.svg" width="200" height="50" alt="Jet">
	    </div>
	  </div>
	  </div>
</div>

<footer class= "footer bg-dark">
    <div class="container">
       <div class="row text-white text-center"> 
                <div class="col-lg-4 col-md-4 col-sm-4" >
                    <span>Company</span>   
                    <ul class="contact">
                          <li>
                            <a href="http://valleysports.us">Home</a>
                          </li>
                          <li>
                             <a href="#">Partnership</a>
                          </li>
                          <li>
                             <a href="#">About</a>
                          </li>
                          <li>
                            <a href="#">Contact</a>
                         </li>
                    </ul>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 ">
                	<span>Links</span>    
                    <ul class="contact">
                         <li class="text-white">
                            <a href="https://www.amazon.com/Valley-Sports-Breathable-Waterproof-Watertight/dp/B077BNJN1R">Amazon Store</a>
                          </li>
                          <li>
                             <a href="https://www.ebay.com/itm/Valley-Sports-Hunting-Jacket-Winter-Jacket-Windproof-Waterproof-with-Tool-Pocket/323474608512?hash=item4b5096d180:m:mpT0jTqdc5VktuiRfZash2A:rk:1:pf:0">Ebay Store</a>
                          </li>
                          <li>
                            <a href="#">Jet.com</a>
                          </li>
                          <li>
                             <a href="#">Patent</a>
                          </li>
                    </ul>
                </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                   <span>Contact</span> 
                    <ul class="contact">
                       <li>
                            <p></p>
                          </li>
                         <li>
                            <p >Phone: 217-372-8660</p>
                          </li>
                          <li>
                            <p>xlics05 at gmail.com</p>
                          </li>
                     </ul>
                </div>
                <div class="copyright col-lg-12 col-md-12 col-sm-12 text-left">
                &copy; Valley Sports LLC
                </div>
        </div>  <!-- End of Row -->
       </div> 
</footer>
</body>
</html>