<!DOCTYPE html>
<html lang="en">
<head>
  <title>Valley Sports</title>
  <meta charset="utf-8">
  <meta name="description" content="ValleySports LLC NJ Largest Online Wholesale Sporting Goods">
  <meta name="keywords" content="ValleySports LLC NJ Largest Online Wholesale Sporting Goods">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  
  <style>
	  .flex-container {
		  display: flex;
		  flex-wrap: nowrap;
		  background-color: #fff;
	   }
	   
	  .flex-container > div {
		  background-color: #fff;
		  width: 32px;
		  margin: 0px　5px;
		  text-align: center;
		  line-height: 0px;
		  font-size: 30px;
	  }
  </style>
  
  <script>
    $(document).ready(function() {
    	$('#crimson').click(function() {
    		  var color = $('#crimson').attr('id');
  			  		$('#colorValue').text(color);
    	});
    }); 
    	
    $(document).ready(function() {
    	$('#aqua').click(function() {
    		  var color = $('#aqua').attr('id');
  			  		$('#colorValue').text(color);
    	});
    }); 
    
    $(document).ready(function() {
    	$('#aquamarine').click(function() {
    		  var color = $('#aquamarine').attr('id');
  			  		$('#colorValue').text(color);
    	});
    }); 
  
    $(document).ready(function() {
    	$('#darkred').click(function() {
    		  var color = $('#darkred').attr('id');
  			  		$('#colorValue').text(color);
    	});
    }); 
 
    $(document).ready(function() {
    	$('#MediumBlue').click(function() {
    		  var color = $('#MediumBlue').attr('id');
  			  		$('#colorValue').text(color);
    	});
    }); 
    
    $(document).ready(function() {
    	$('#RoyalBlue').click(function() {
    		  var color = $('#RoyalBlue').attr('id');
  			  		$('#colorValue').text(color);
    	});
    });
 　
    $(document).ready(function() {
    	$('#Orange').click(function() {
    		  var color = $('#Orange').attr('id');
  			  		$('#colorValue').text(color);
    	});
    });

    $(document).ready(function() {
    	$('#SkyBlue').click(function() {
    		  var color = $('#SkyBlue').attr('id');
  			  		$('#colorValue').text(color);
    	});
    });
    $(document).ready(function() {
    	$('#Navy').click(function() {
    		  var color = $('#Navy').attr('id');
  			  		$('#colorValue').text(color);
    	});
    });
 
　</script>
  
</head>

<body>
<nav class="navbar fixed-top bg-dark navbar-dark navbar-expand-sm navbar-toggleable-md py-md-3">
  <!-- Brand -->
  <a class="navbar-brand" href="/">
  	<img src="images/logo.png"  width="200" height="30" />
  </a>
  
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown"
    aria-controls="dropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="dropdown">
	    <!-- Dropdown -->
	    <ul class="navbar-nav ml-auto">
	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	        Products
	      </a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item" href="/huntingparka">Hunting Parka</a>
	        <a class="dropdown-item" href="/boardshort">Beach Shorts</a>
	        <a class="dropdown-item" href="/swimshort">Swim Shorts</a>
	      </div>
	    </li>
	      
	     <li class="nav-item">
	      <a class="nav-link" href="#">Company</a>
	     </li>
	    
	      <li class="nav-item">
	      <a class="nav-link" href="#">Partnership</a>
	      </li>
	  </ul>
  </div>
</nav>
<br>
  
<div class="container">

  <div id="slider" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ul class="carousel-indicators">
	    <li data-target="#slider" data-slide-to="0" class="active"></li>
	    <li data-target="#slider" data-slide-to="1"></li>
	    <li data-target="#slider" data-slide-to="2"></li>
	  </ul>
  
  <!-- The slideshow -->
	<div class="carousel-inner">
	   <div class="carousel-item active">
	      <img src="/images/swimshorts/deepblue/deepblue_2d.png" alt="Front Image" width="1100" height="500">
	        <div class="carousel-caption text-dark"></div>
	   </div>
	    
		<div class="carousel-item">
	      <img src="/images/swimshorts/mediumblue/mediumblue_2d.png" alt="Frong Image" width="1100" height="500">
	        <div class="carousel-caption text-dark"></div>
	   　</div>
	  
		<div class="carousel-item">
		    <img src="/images/swimshorts/orange/orange_2d.png" alt="Keyring Hook" width="1100" height="500">
		    <div class="carousel-caption text-dark" >
		    </div>
	   </div>
	   
	   	<div class="carousel-item">
		    <img src="/images/swimshorts/red/red_2d.png" alt="Keyring Hook" width="1100" height="500">
		    <div class="carousel-caption text-dark" >
		
		    </div>
	   </div>
	   
	  <!-- Left and right controls -->
	  <a class="carousel-control-prev" href="#slider" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#slider" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	  </a>
	  </div>
</div> <!-- End of slider-->
 
    
  <b> Product Description </b>
	<section>
	  <b>Key Features</b>
	    <ul>
	    <li>Ultra thin and quick dry fabric offers amazing comfort</li>
	  	<li>100 % Polyester and machine washable.</li>
	  	<li>Elastic band and adjustable drawstring closure</li>
	  	<li>Mesh lining</li>
	  	</ul>
  	</section>
  	
  	<section>
  	  <h1>MSRP $18</h1>
  	  <h2>Whole sale price: $6 with a purchase of 15-20 minimum in each size</h2>
  	  <h2>Size from S, M, L, XL, XXL</h2>
  	  <ul>
  	    <li>Small: Waist(29-34 inch)/Thigh diameter: (11.5 inch)</li>
		<li>Medium: Waist(31-36 inch)/Thigh diameter: (12 inch)</li>
		<li>Large: Waist(32-38 inch)/Thigh diameter: (12 inch)</li>
		<li>XLarge: Waist(33-38 inch)/Thigh diameter: (12 inch)</li>
		<li>XXLarge: Waist(34-40 inch)/Thigh diameter: (13 inch)</li>
  	  </ul>
  	</section>
  	
  	
  	 <div id="colorField"><span>Color:</span><div id="colorValue"></div> </div>
  	  
  	   <div class="flex-container">
		     	  <div id="aqua">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="aqua" />
				 	</svg>
				  </div>
				  <div id="crimson">
				 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="crimson" />
				 	</svg>
				  </div>
				  <div id="aquamarine">
					<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="aquamarine" />
				 	</svg>
				  </div>
				  <div id="darkred">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="darkred" />
				 	</svg>
				  </div>
				  <div id="MediumBlue">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="MediumBlue" />
				 	</svg>
				  </div>
				  <div id="RoyalBlue">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="RoyalBlue" />
				 	</svg>
				  </div>
				  <div id="Orange">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="Orange" />
				 	</svg>
				  </div>
				  <div id="SkyBlue">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="SkyBlue" />
				 	</svg>
				  </div>
				  <div id="Navy">
		     	 	<svg width="30" height="30">
	   		 			<rect width="100%" height="100%" fill="Navy" />
				 	</svg>
				  </div>
			 <!--https://www.w3schools.com/colors/colors_names.asp--->
	    </div>

</div> <!-- End of container  -->

<footer class= "footer bg-dark">
    <div class="container">
       <div class="row text-white text-center"> 
                <div class="col-lg-4 col-md-4 col-sm-4" >
                    <span>Company</span>   
                    <ul class="contact">
                          <li>
                            <a href="http://valleysports.us">Home</a>
                          </li>
                          <li>
                             <a href="#">Partnership</a>
                          </li>
                          <li>
                             <a href="#">About</a>
                          </li>
                          <li>
                            <a href="#">Contact</a>
                         </li>
                    </ul>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 ">
                	<span>Links</span>    
                    <ul class="contact">
                         <li class="text-white">
                            <a href="https://www.amazon.com/Valley-Sports-Breathable-Waterproof-Watertight/dp/B077BNJN1R">Amazon Store</a>
                          </li>
                          <li>
                             <a href="https://www.ebay.com/itm/Valley-Sports-Hunting-Jacket-Winter-Jacket-Windproof-Waterproof-with-Tool-Pocket/323474608512?hash=item4b5096d180:m:mpT0jTqdc5VktuiRfZash2A:rk:1:pf:0">Ebay Store</a>
                          </li>
                          <li>
                            <a href="#">Jet.com</a>
                          </li>
                          <li>
                             <a href="#">Patent</a>
                          </li>
                    </ul>
                </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                   <span>Contact</span> 
                    <ul class="contact">
                       <li>
                            <p></p>
                          </li>
                         <li>
                            <p >Phone: 217-372-8660</p>
                          </li>
                          <li>
                            <p>xlics05 at gmail.com</p>
                          </li>
                     </ul>
                </div>
                <div class="copyright col-lg-12 col-md-12 col-sm-12 text-left">
                &copy; Valley Sports LLC
                </div>
        </div>  <!-- End of Row -->
       </div> 
</footer>
</body>
</html>

