/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

/* Make the image fully responsive */
  	.carousel-inner img {
    	width: 100%;
    	height: 100%;
  	}

  	.footer {
  		bottom: 0;
  		width: 100%;
  		height: auto;
  		border-top: solid 1px #eee;

	}

	.footer ul {
	  	list-style: none;
	  	padding-top: 10px;
	  	margin-left: -30px;
	}
	
	.footer li {
	
	}
	
	.footer ul p {
		color:#6e6e6e;	  	
	}
	
	.footer .copyright {
  		margin-top: 10px;
	}
  
  	footer a {
  		color:#6e6e6e;
  	}
  	
  	/*Overwrite std css*/
  	footer .container {
  		margin-top: 30px;
  		padding-bottom: 20px;
  		min-height:250px;
  	}
  	
  	/*Overwrite std css*/
  	.ml-auto {
	  	margin-right: 100px; 
  	}
  	
  	.carousel-caption {
  		margin-top: 200px;
  	}
